# Build / generator output
/build/
/out/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
_deps/

# Visual Studio / MSBuild
*.sln
*.vcxproj
*.vcxproj.filters
*.user
.vs/

# Object / link intermediates (if any land outside build/)
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.iobj
*.ipdb
